extends base

block emailContent
  p Hi there #{username},  
  p It's a pleasure to have you with us, welcome to the incredible world of Disney.
  p Now you are part of the Alkemy-Disney project.
  p Good luck! 😉
